# Move focus with mainMod + arrow keys
bindu = $mainMod, left, movefocus, l
bindu = $mainMod, right, movefocus, r
bindu = $mainMod, up, movefocus, u
bindu = $mainMod, down, movefocus, d

# Change workspace 
bindu = $mainMod, 1, exec, hyprctl dispatch workspace 1 && $wbr
bindu = $mainMod, 2, exec, hyprctl dispatch workspace 2 && $wbr
bindu = $mainMod, 3, exec, hyprctl dispatch workspace 3 && $wbr
bindu = $mainMod, 4, exec, hyprctl dispatch workspace 4 && $wbr
bindu = $mainMod, 5, exec, hyprctl dispatch workspace 5 && $wbr
bindu = $mainMod, 6, exec, hyprctl dispatch workspace 6 && $wbr
bindu = $mainMod, 7, exec, hyprctl dispatch workspace 7 && $wbr
bindu = $mainMod, 8, exec, hyprctl dispatch workspace 8 && $wbr
bindu = $mainMod, 9, exec, hyprctl dispatch workspace 9 && $wbr
bindu = $mainMod, 0, exec, hyprctl dispatch workspace 10 && $wbr

bindu = $mainMod SHIFT, 1, exec, hyprctl dispatch movetoworkspace 1 && $wbr
bindu = $mainMod SHIFT, 2, exec, hyprctl dispatch movetoworkspace 2 && $wbr
bindu = $mainMod SHIFT, 3, exec, hyprctl dispatch movetoworkspace 3 && $wbr
bindu = $mainMod SHIFT, 4, exec, hyprctl dispatch movetoworkspace 4 && $wbr
bindu = $mainMod SHIFT, 5, exec, hyprctl dispatch movetoworkspace 5 && $wbr
bindu = $mainMod SHIFT, 6, exec, hyprctl dispatch movetoworkspace 6 && $wbr
bindu = $mainMod SHIFT, 7, exec, hyprctl dispatch movetoworkspace 7 && $wbr
bindu = $mainMod SHIFT, 8, exec, hyprctl dispatch movetoworkspace 8 && $wbr
bindu = $mainMod SHIFT, 9, exec, hyprctl dispatch movetoworkspace 9 && $wbr
bindu = $mainMod SHIFT, 0, exec, hyprctl dispatch movetoworkspace 10 && $wbr

# Change workspace (Keypad)
bindu = $mainMod, KP_Insert, exec, hyprctl dispatch workspace 10 && $wbr   # KP_0
bindu = $mainMod, KP_End,    exec, hyprctl dispatch workspace 1  && $wbr   # KP_1
bindu = $mainMod, KP_Down,   exec, hyprctl dispatch workspace 2  && $wbr   # KP_2
bindu = $mainMod, KP_Page_Down, exec, hyprctl dispatch workspace 3 && $wbr # KP_3
bindu = $mainMod, KP_Left,   exec, hyprctl dispatch workspace 4  && $wbr   # KP_4
bindu = $mainMod, KP_Begin,  exec, hyprctl dispatch workspace 5  && $wbr   # KP_5
bindu = $mainMod, KP_Right,  exec, hyprctl dispatch workspace 6  && $wbr   # KP_6
bindu = $mainMod, KP_Home,   exec, hyprctl dispatch workspace 7  && $wbr   # KP_7
bindu = $mainMod, KP_Up,     exec, hyprctl dispatch workspace 8  && $wbr   # KP_8
bindu = $mainMod, KP_Page_Up, exec, hyprctl dispatch workspace 9 && $wbr   # KP_9


# Move window to workspace (Keypad)
bindu = $mainMod SHIFT, KP_Insert, exec, hyprctl dispatch movetoworkspace 10 && $wbr
bindu = $mainMod SHIFT, KP_End,    exec, hyprctl dispatch movetoworkspace 1  && $wbr
bindu = $mainMod SHIFT, KP_Down,   exec, hyprctl dispatch movetoworkspace 2  && $wbr
bindu = $mainMod SHIFT, KP_Page_Down, exec, hyprctl dispatch movetoworkspace 3 && $wbr
bindu = $mainMod SHIFT, KP_Left,   exec, hyprctl dispatch movetoworkspace 4  && $wbr
bindu = $mainMod SHIFT, KP_Begin,  exec, hyprctl dispatch movetoworkspace 5  && $wbr
bindu = $mainMod SHIFT, KP_Right,  exec, hyprctl dispatch movetoworkspace 6  && $wbr
bindu = $mainMod SHIFT, KP_Home,   exec, hyprctl dispatch movetoworkspace 7  && $wbr
bindu = $mainMod SHIFT, KP_Up,     exec, hyprctl dispatch movetoworkspace 8  && $wbr
bindu = $mainMod SHIFT, KP_Page_Up, exec, hyprctl dispatch movetoworkspace 9 && $wbr
# Move/resize windows with mainMod + LMB/RMB and dragging
bindmu = $mainMod, mouse:272, movewindow
bindmu = $mainMod, mouse:273, resizewindow

# Laptop multimedia keys for volume and LCD brightness

# Volume
bindelu = ,XF86AudioRaiseVolume, exec, swayosd-client --output-volume raise
bindelu = ,XF86AudioLowerVolume, exec, swayosd-client --output-volume lower
bindelu = ,XF86AudioMute, exec, swayosd-client --output-volume mute-toggle

bindelu =$mainMod, XF86MonBrightnessUp, exec, swayosd-client --output-volume raise
bindelu =$mainMod, XF86MonBrightnessDown, exec, swayosd-client --output-volume lower
# Microphone mute
bindelu = SHIFT ,XF86AudioMute, exec, swayosd-client --input-volume mute-toggle

# Brightness
bindelu = ,XF86MonBrightnessUp, exec, swayosd-client --brightness raise
bindelu = ,XF86MonBrightnessDown, exec, swayosd-client --brightness lower

bindelu = SHIFT ,KP_Add , exec, ~/scripts/brightness.sh up
bindelu = SHIFT ,KP_Subtract , exec, ~/scripts/brightness.sh down

# Requires playerctl
bindlu = , XF86AudioNext, exec, playerctl next
bindlu = , XF86AudioPause, exec, playerctl play-pause
bindlu = , XF86AudioPlay, exec, playerctl play-pause
bindlu = , XF86AudioPrev, exec, playerctl previous

