bind = , KP_Begin, exec, rmpc togglepause & sh -c 's="$(rmpc song | jq -r ".metadata.title")"; st="$(rmpc status | jq -r ".state")"; [ -z "$s" ] && s="No song"; case "$st" in Play) icon="";; Pause) icon="";; Stop) icon="";; *) icon="";; esac; swayosd-client --custom-message " $icon    -   $s "'

bind = , KP_Delete, exec, rmpc pause & swayosd-client --custom-message Stopped

bind = , KP_Right, exec, rmpc next & sh -c 's="$(rmpc song | jq -r ".metadata.title")"; st="$(rmpc status | jq -r ".state")"; [ -z "$s" ] && s="No song"; case "$st" in Play) icon="";; Pause) icon="";; Stop) icon="";; *) icon="";; esac; swayosd-client --custom-message " $icon    -   $s "'

bind = , KP_Left, exec, rmpc prev & sh -c 's="$(rmpc song | jq -r ".metadata.title")"; st="$(rmpc status | jq -r ".state")"; [ -z "$s" ] && s="No song"; case "$st" in Play) icon="";; Pause) icon="";; Stop) icon="";; *) icon="";; esac; swayosd-client --custom-message " $icon    -   $s "'


binde = , KP_Up, exec, rmpc volume +5 & sh -c 'vol="$(rmpc status | jq -r ".volume")"; s="$(rmpc song | jq -r ".metadata.title")"; [ -z "$s" ] && s="No song"; swayosd-client --custom-message "$vol   -   $s"'


binde = , KP_Down, exec, rmpc volume -5 & sh -c 'vol="$(rmpc status | jq -r ".volume")"; s="$(rmpc song | jq -r ".metadata.title")"; [ -z "$s" ] && s="No song"; swayosd-client --custom-message "$vol   -   $s"'


binde = , KP_Home, exec, rmpc seek -10 & sh -c 's="$(rmpc song | jq -r ".metadata.title")"; [ -z "$s" ] && s="No song"; elapsed=$(rmpc status | jq -r ".elapsed.secs"); dur=$(rmpc status | jq -r ".duration.secs"); printf -v elapsed_fmt "%02d:%02d" $((elapsed/60)) $((elapsed%60)); printf -v dur_fmt "%02d:%02d" $((dur/60)) $((dur%60)); swayosd-client --custom-message "( $elapsed_fmt 󰿟 $dur_fmt )   -  $s"'

binde = , KP_Prior, exec, rmpc seek +10 & sh -c 's="$(rmpc song | jq -r ".metadata.title")"; [ -z "$s" ] && s="No song"; elapsed=$(rmpc status | jq -r ".elapsed.secs"); dur=$(rmpc status | jq -r ".duration.secs"); printf -v elapsed_fmt "%02d:%02d" $((elapsed/60)) $((elapsed%60)); printf -v dur_fmt "%02d:%02d" $((dur/60)) $((dur%60)); swayosd-client --custom-message "( $elapsed_fmt 󰿟 $dur_fmt )   -  $s"'

bind = MOD2, KP_Divide, exec, kitty --class "fuzzymusic" -e ~/scripts/fzm.sh
bind = MOD2 SHIFT, KP_Divide, exec, kitty --class "fuzzymusic" -e ~/scripts/fzm.sh c 

bind = MOD2, KP_Subtract, exec, rmpc rescan & swayosd-client --custom-message Refreshed

bind = , KP_End, exec, ~/rmpc/rmpc-toggle-single-repeat-osd.sh

bind = , XF86Calculator, exec, ~/rmpc/toggle_rmpc.sh


bind = SHIFT, XF86Calculator, exec, qalculate-gtk
bind = SHIFT, KP_End, exec, wtype 1
bind = SHIFT, KP_Down, exec, wtype 2
bind = SHIFT, KP_Next, exec, wtype 3
bind = SHIFT CTRL, KP_Next, exec, wtype -k numbersign

bind = SHIFT, KP_Left, exec, wtype 4
bind = SHIFT, KP_Begin, exec, wtype 5
bind = SHIFT, KP_Right, exec, wtype 6
bind = SHIFT, KP_Home, exec, wtype 7
bind = SHIFT, KP_Up, exec, wtype 8
bind = SHIFT, KP_Prior, exec, wtype 9

bind = SHIFT, KP_Insert, exec, wtype 0

