bind = , KP_Begin, exec, ~/scripts/rmpc.sh toggle
bind = , KP_Delete, exec, ~/scripts/rmpc.sh stop
bind = , KP_Right, exec, ~/scripts/rmpc.sh next
bind = , KP_Left, exec, ~/scripts/rmpc.sh prev
binde = , KP_Up, exec, ~/scripts/rmpc.sh up
binde = , KP_Down, exec, ~/scripts/rmpc.sh down
binde = , KP_Home, exec, ~/scripts/rmpc.sh seekb
binde = , KP_Prior, exec, ~/scripts/rmpc.sh seekf
bind = MOD2, KP_Subtract, exec, ~/scripts/rmpc.sh rescan
bind = MOD2 SHIFT, KP_Subtract, exec, ~/scripts/ytdlp.sh
bind = , KP_End, exec, ~/scripts/rmpc.sh repeattoggle

bind = MOD2, KP_Divide, exec, kitty --class "fuzzymusic" -e ~/scripts/fzm.sh
bind = MOD2 SHIFT, KP_Divide, exec, kitty --class "fuzzymusic" -e ~/scripts/fzm.sh c 

bind = , XF86Calculator, exec, ~/rmpc/toggle_rmpc.sh


bind = SHIFT, XF86Calculator, exec, qalculate-gtk
bind = SHIFT, KP_End, exec, wtype 1
bind = SHIFT, KP_Down, exec, wtype 2
bind = SHIFT, KP_Next, exec, wtype 3
bind = SHIFT CTRL, KP_Next, exec, wtype -k numbersign

bind = SHIFT, KP_Left, exec, wtype 4
bind = SHIFT, KP_Begin, exec, wtype 5
bind = SHIFT, KP_Right, exec, wtype 6
bind = SHIFT, KP_Home, exec, wtype 7
bind = SHIFT, KP_Up, exec, wtype 8
bind = SHIFT, KP_Prior, exec, wtype 9

bind = SHIFT, KP_Insert, exec, wtype 0

